body { display: flex; min-height: 100vh; flex-direction: column; background-color: #270E24; color: #D8D8D8; }
#content { flex: 1; }

/*hr { display: block; height: 1px; width: 70%; border: 0; border-top: 1px solid #B68000; margin: 1em; padding: 10px; text-align: center; margin: 0 auto; }*/

h1, h2, h3, h4, h5, h6 { font-family: 'League Gothic'; font-weight: normal; }
h1 { color: #FFFFFF; font-size: 72px; }
h2 { color: #B68000; font-size: 36px; letter-spacing: 3.5px; font-weight: lighter; }
p { color: #D8D8D8; }

/* BUTTONS */
.btn-primary { background-color: transparent; border-color: #B68000; border-radius: 2px; text-transform: uppercase; color: #B68000; padding: 12px 30px; }
.btn-primary:hover { background-color: #B68000; border-color: #B68000; }

/* CUSTOM */
/*.img-section { height: 540px; position: relative; }*/
.db-hr {
  border-top: 1px solid #B68000;
  text-align: center;
  position: relative;
  overflow: visible;
  margin: 35px 4rem 50px;
}
.db-hr::after {
  content: "";
  position: relative;
  background: url('../images/db-hr.svg') no-repeat top;
  background-color: inherit;
  background-size: auto 30px;
  display: block;
  height: 50px;
  top: -14px;
}
.video-frame {
  padding: 78px 65px;
  background-image: url('../images/video-frame.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
