html {
  font-size: 16px;
}
@media (max-width: 900px) {
  html { font-size: 16px; }
}
@media (max-width: 400px) {
  html { font-size: 14px; }
}
body { display: flex; min-height: 100vh; flex-direction: column; color: #D8D8D8; font-family: 'Abel', sans-serif; font-size: 1.2rem; letter-spacing: 1px; background: url('../images/bg-pattern.svg') #1E0C1C; background-size: 340px; }
#content { flex: 1; }

h1, h2, h3, h4, h5, h6 { font-family: 'League Gothic'; font-weight: normal; }
h1 { color: #FFFFFF; font-size: 5.25rem; line-height: 5.875rem; letter-spacing: 6px; }
h2 { color: #B68000; font-size: 2.25rem; letter-spacing: 3.5px; font-weight: lighter; }
h3 { color: #B68000; font-size: 2rem; letter-spacing: 3.5px; }
p { color: #D8D8D8; font-size: 1rem; }

.display-4 { font-size: 3rem; line-height: 3.5rem; }
.nav-tabs { border-bottom: 1px solid #B68000; padding-bottom: .875rem; }
.nav-tabs .link-nav { border: 0px transparent; font-size: 1.1rem; }
.nav-item { text-align: center; }
.nav-tabs .link-nav:hover { border-style: none; font-weight: bolder; }
.nav-tabs .link-nav.active { color: #D8D8D8; background-color: transparent; border-style: none; }
.nav-tabs .link-nav.active:hover { color: #B68000; }
.tab-content { line-height: 1.5rem; }
.tab-pane.active { border-bottom: none; }
.no-underline:hover { border-bottom: none; }

/* BUTTONS */
.btn { font-family: 'Abel', sans-serif; letter-spacing: 1px; }
.btn-primary { background-color: transparent; border-color: #B68000; border-radius: 2px; text-transform: uppercase; color: #B68000; padding: 12px 30px; background-color: rgba(0,0,0,0.4); font-size: 1rem; }
.btn-primary:hover { color: #FFFFFF; background-color: #B68000; border-color: #B68000; padding: 12px 30px; border-width: 1px; }
.btn-primary:focus { box-shadow: none; color: #FFFFFF; background-color: #B68000; border-color: #B68000; border-width: 1px; }

/* OVERWRITE BOOTSTRAP */
.tab-content { font-weight: lighter; }

/* CUSTOM */
/*.img-section { height: 540px; position: relative; }*/
.text-white { color: #BFBEBE; }
.db-hr {
  border-top: 1px solid #B68000;
  text-align: center;
  position: relative;
  overflow: visible;
  margin: 35px 4rem 50px;
}
.db-hr::after {
  content: "";
  position: relative;
  background: url('../images/db-hr.svg') no-repeat top;
  background-color: inherit;
  background-size: auto 30px;
  display: block;
  height: 50px;
  top: -14px;
}
.video-frame {
  background-image: url('../images/video-frame.svg');
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
}
/*.index-video { padding: 5.5rem 9.5rem; }*/
.index-video { padding: 11% 20%; }

.img-border { border: 2px solid #B68000; outline: 1px solid #B68000; outline-offset: 5px; }

.vert-center {
    display: inline-block;
    vertical-align: middle;
    height: 500px;
    border-style: solid;
}

.vert-center .vert-center-block {
    display : inline-block;
}
