.navbar { padding-top: 1rem; letter-spacing: 1px; z-index: 99; padding-left: 0; padding-right: 0; }
.navbar-toggler { color: #BFBEBE; padding-right: 0; }
.link-nav { color: #BFBEBE; font-size: .9rem; text-transform: uppercase; display: inline-block; float: right; padding-left: .5rem; padding-right: .5rem; padding-top: .6rem; }
.link-social { font-size: 1rem; display: inline-block; padding-top: .5rem; float: right; padding-left: .8rem; padding-right: .8rem; }
a { color: #BFBEBE; }
a:active { color: #BFBEBE; }
a:hover { color: #B68000; text-decoration: none; border-bottom: solid; border-radius: 1px; border-width: 2px;}
a:active, a:focus { color: #B68000; }
.navbar-brand:hover { border-bottom: none; }

.active { font-weight: bolder; border-bottom: solid; border-color: #B68000; border-radius: 1px; border-width: 2px; }
