.hero-home { background-image: url('../../images/hero-bg-00.jpg'); }
.hero-menu { background-image: url('../../images/hero-bg-00-02.jpg'); }
.hero-events { background-image: url('../../images/hero-bg-00-01.jpg'); }
.hero-private-events { background-image: url('../../images/hero-bg-00-03.jpg'); }
.hero-press { background-image: url('../../images/hero-bg-00-04.jpg'); }
.hero-contact { background-image: url('../../images/hero-bg-00-05.jpg'); }

.hero {
  background-size:cover;
  height:540px;
  text-align: center;
  position: relative;
  padding: 0;
  margin-top: -4.75rem;
}

.hero-content { position: absolute; top: 45%; left: 50%; transform: translate(-50%,-50%); }
.btn-hero-home { margin-top: -7.5rem; }
